.services {
  position: relative;
}
.services__title {
  text-align: center;
  font-family: "Special Elite", cursive;
}
.services__box {
  display: grid;
  gap: 5px;
}
.services__description {
  width: 80px;
  height: 80px;
  background-color: #d6e3dd;
  font-size: 1.1rem;
  border-radius: 50%;
  border: 1.5px solid white;
  box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 4.5rem;
  top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .services__description {
    left: 5rem;
  }
}
@media screen and (min-width: 1050px) {
  .services__description {
    left: 5.5rem;
  }
}
.services__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}
@media screen and (min-width: 900px) {
  .services__gallery {
    gap: 15px;
    padding: 0 4.5rem;
  }
}
@media screen and (min-width: 1050px) {
  .services__gallery {
    padding: 0 5rem;
  }
}
.services__gallery img {
  width: 100%;
  border-radius: 5px;
}
.services__text {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
}

.photo-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.photo-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.photo-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.photo-12 {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
}

.photo-4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.photo-5 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.photo-13 {
  grid-column: 2/4;
  grid-row: 4/5;
  align-self: center;
  justify-self: end;
}

.activities {
  display: grid;
  gap: 10px;
}
.activities__wrapper {
  position: relative;
  display: grid;
  gap: 10px;
  padding: 0 4rem;
}
@media screen and (min-width: 900px) {
  .activities__wrapper {
    gap: 15px;
    padding: 0 4.5rem;
  }
}
@media screen and (min-width: 1050px) {
  .activities__wrapper {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1050px) {
  .activities__grid--six {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
  }
}
@media screen and (min-width: 1050px) {
  .activities__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media screen and (min-width: 1050px) {
  .activities__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.activities__photo {
  width: 400px;
  border-radius: 5px;
}
@media screen and (min-width: 1050px) {
  .activities__photo {
    width: 100%;
  }
}
.activities__label {
  width: 100px;
  height: 100px;
  background-color: #d6e3dd;
  border-radius: 50%;
  border: 1.5px solid white;
  box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 4.5rem;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .activities__label {
    left: 5rem;
  }
}
@media screen and (min-width: 1050px) {
  .activities__label {
    left: 5.5rem;
  }
}
.activities__subtitle {
  text-align: center;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
}

.kontakt {
  letter-spacing: 1.5px;
  text-align: center;
}

.footer {
  position: relative;
  grid-row: 4/5;
  letter-spacing: 1.5px;
  display: grid;
  grid-template-rows: 1fr 0.7fr;
  text-align: center;
  margin-top: 3.5rem;
}
.footer__top {
  grid-row: 1/2;
}
.footer__top h3 {
  margin-bottom: 0;
  font-family: "Special Elite", cursive;
}
.footer__bottom {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  justify-self: right;
  color: #424141;
}
.footer__link {
  justify-self: left;
  color: #424141;
  text-decoration: none;
}
.footer__link:hover {
  color: #d6e3dd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  transition: 2s;
}
.footer__social {
  margin-top: 1rem;
}
.footer__social a {
  text-decoration: none;
}
.footer__social .fa {
  color: #d6e3dd;
  padding: 7px;
  text-decoration: none;
  font-size: x-large;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
}
.footer__social::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 400px;
  border-top: 2px solid #d6e3dd;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: -15px;
}
.footer__back-to-top .fa {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #d6e3dd;
  border-radius: 5px;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  right: 2rem;
  bottom: 6.5rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 30rem) {
  .footer__back-to-top .fa {
    bottom: 4rem;
  }
}
@media screen and (min-width: 48.75rem) {
  .footer__back-to-top .fa {
    bottom: 2.5rem;
  }
}
.footer__back-to-top .fa::before {
  content: "\f106";
  display: inline-block;
  margin-top: 0.6rem;
}

.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  letter-spacing: 1.5px;
}
.contact__email a {
  color: #424141;
  text-decoration: none;
}
.contact__email a:hover {
  color: #d6e3dd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  transition: 2s;
}
.contact__social {
  position: relative;
}
.contact__social a {
  text-decoration: none;
  color: #424141;
  font-size: x-large;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  margin: 0 5px;
}
.contact__social a:hover {
  color: #d6e3dd;
  transition: 2s ease;
}
.contact__contactform {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
  margin: 40px auto;
  padding: 10px;
}
.contact__form {
  display: grid;
  grid-template-columns: 1fr 1f;
  gap: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.contact__formtitle {
  font-family: "Special Elite", cursive;
}
.contact__field {
  width: 100%;
}
.contact__field > label {
  display: block;
}
.contact__field input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.contact__field-area {
  grid-column: 1/3;
}
.contact__field-area textarea {
  width: 100%;
  height: 150px;
}
.contact__submit {
  grid-column: 1/3;
  justify-self: center;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #424141;
  text-align: center;
  width: 20%;
  max-width: 200px;
  background-color: #d6e3dd;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-top: 0.7rem;
  border: none;
  cursor: pointer;
}
.contact__title {
  font-family: "Special Elite", cursive;
}
.contact__subtitle {
  font-family: "Special Elite", cursive;
}

.animated {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.animated__text {
  position: absolute;
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.animated__text span {
  position: absolute;
  top: -100px;
  text-transform: uppercase;
  display: inline-block;
  transform-origin: 0 150px;
}

@-webkit-keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  360% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  360% {
    transform: rotate(360deg);
  }
}
.circle-handmade {
  padding: 5rem 0 8rem 0;
}
.circle-handmade__title {
  letter-spacing: 1.5px;
  font-family: "Special Elite", cursive;
}
.circle-handmade__green {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: hsla(152deg, 19%, 86%, 0.5);
  position: absolute;
  top: 100px;
  right: 35%;
  z-index: -10;
}

.header {
  width: 100%;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
}
@media screen and (min-width: 700px) {
  .header {
    grid-column: 1/-1;
  }
}

.logo {
  margin-bottom: 10px;
}

.menu {
  /*HAMBURGER menu*/
}
.menu__content {
  text-align: center;
  align-items: center;
  transition: all 0.5s;
}
.menu__list {
  margin-bottom: 0;
  list-style-type: none;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -115%;
  position: fixed;
  top: 55px;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .menu__list {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    font-size: 1.2rem;
  }
}
.menu__item {
  position: relative;
  margin: 0 1rem;
  padding: 0;
  padding: 15px 18px;
  letter-spacing: 1.2px;
}
.menu__item:hover {
  background-color: #d6e3dd;
  padding: 15px 18px;
  z-index: 1;
}
.menu__item::before {
  background-color: #d6e3dd;
  position: absolute;
  bottom: 0px;
  left: 25%;
  height: 10px;
  width: 10px;
  z-index: -1;
  transform: translate(-50%, 50%) rotate(45deg);
}
.menu__link {
  text-decoration: none;
  color: #424141;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  z-index: 1;
}
.menu .active {
  right: 0;
  z-index: 100;
  transition: 0.2s ease;
  padding: 16px 18px;
  border-radius: 7px;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .menu .active {
    background-color: #d6e3dd;
  }
}
@media screen and (min-width: 700px) {
  .menu .active::before {
    content: "";
    background-color: #d6e3dd;
    position: absolute;
    bottom: 0px;
    left: 25%;
    height: 10px;
    width: 10px;
    z-index: -1;
    transform: translate(-50%, 50%) rotate(45deg);
  }
}
.menu__hamburger {
  display: block;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .menu__hamburger {
    display: none;
  }
}
.menu__bar {
  width: 1.5rem;
  height: 3px;
  display: block;
  padding: 0;
  margin: 6px 30px 6px 6px;
  margin-right: 40px;
  transition: 0.5s;
  background-color: black;
}
.menu__bar:nth-child(1) {
  width: 60%;
}
.menu__bar:nth-child(2) {
  width: 70%;
}
.menu__bar:nth-child(3) {
  width: 80%;
}
.menu .active .menu__bar:nth-child(2) {
  opacity: 0;
}
.menu .active .menu__bar:nth-child(1) {
  transform: translateY(8px) rotate(-315deg);
  width: 100%;
}
.menu .active .menu__bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  width: 100%;
}

.projects {
  padding: 50px;
}
@media screen and (min-width: 900px) {
  .projects__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1170px) {
  .projects__box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7px;
  }
}
.projects__project {
  padding: 10px;
  background-color: hsla(152deg, 19%, 86%, 0.5);
  padding: 15px 35px;
  letter-spacing: 1.5px;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
}

.public {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.5px;
}
.public__title {
  font-family: "Special Elite", cursive;
}
.public__activities {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
  margin: 5px auto;
  padding: 10px;
}
.public__activity a {
  text-decoration: none;
  text-align: center;
  color: #424141;
}
.public__activity a:hover {
  color: #d6e3dd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  transition: 2s;
}

.product__box {
  display: flex;
  justify-content: space-between;
}
.product__link, .product__vip {
  display: inline-block;
  margin-top: 3rem;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #424141;
}
.product__vip {
  background-color: #d6e3dd;
  padding: 0.6rem 3rem;
  border-radius: 5px;
}
.product__link:hover {
  color: #d6e3dd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  transition: 1.1s;
}

.product-1__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  align-items: center;
  justify-items: center;
  padding: 4rem;
}
.product-1__item {
  position: relative;
}
.product-1__title {
  text-align: center;
  letter-spacing: 1.5px;
  color: white;
  position: absolute;
  top: 20px;
  left: 35%;
}
.product-1__image {
  width: 100%;
}
.product-1__detail {
  display: flex;
  padding: 0 4rem;
}
.product-1__detailimg img {
  width: 100%;
  padding-right: 4rem;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  color: #424141;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 55px auto auto auto;
}
/*HAMBURGER menu*/
.hero {
  grid-row: 2/3;
}
@media screen and (min-width: 700px) {
  .hero {
    grid-column: 1/-1;
  }
}
.hero__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.content__box {
  padding: 0 2.5rem;
}
.content__link {
  text-decoration: none;
}
.content__activity {
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  color: #424141;
  text-align: center;
  width: 20%;
  max-width: 200px;
  background-color: #d6e3dd;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
  border: none;
  cursor: pointer;
}
.content__about {
  align-items: center;
  padding: 0 2.5rem;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 800px) {
  .content__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-items: center;
  }
}
.content__about img {
  width: 100%;
  padding: 50px 40px;
  border-radius: 5px;
}
@media screen and (min-width: 500px) {
  .content__about img {
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (min-width: 700px) {
  .content__about img {
    width: 50%;
    float: left;
    margin: 0 30px 30px 0;
    padding: 20px;
  }
}
@media screen and (min-width: 800px) {
  .content__about img {
    width: 350px;
    margin: 0;
    padding: 0;
  }
}
.content__content {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  padding: 50px 40px;
  border-radius: 5px;
}
.content__subtitle {
  text-align: center;
  letter-spacing: 1.5px;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.01);
  margin: 3rem 0;
}

.cards {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 500px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 10px;
  }
}
@media screen and (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0 10px;
  }
}

.card__image {
  width: 100%;
  border-radius: 5px;
}
.card__link {
  text-decoration: none;
}
.card__bottom {
  position: relative;
}
.card__title {
  text-align: center;
  color: #424141;
  letter-spacing: 1.5px;
}
.card__title {
  width: 75%;
  height: 70px;
  right: 0;
  z-index: 100;
  transition: 0.2s ease;
  padding: 16px 18px;
  border-radius: 20px;
  z-index: 1;
  background-color: #d6e3dd;
  background-color: white;
  border: 1px solid #d6e3dd;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 1px;
  float: right;
  margin-right: 35px;
}
.card__title::after {
  content: "";
  background-color: #d6e3dd;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 25%;
  height: 20px;
  width: 20px;
  z-index: 10;
  transform: translate(-50%, 50%) rotate(45deg);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #d6e3dd;
  border-right: 1px solid #d6e3dd;
}

.brand {
  align-items: center;
  padding: 0 2.5rem;
  letter-spacing: 1.5px;
  margin: 4rem 0 2rem 0;
}
@media screen and (min-width: 780px) {
  .brand {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}
@media screen and (min-width: 900px) {
  .brand {
    padding: 0 3.5rem;
  }
}
@media screen and (min-width: 1050px) {
  .brand {
    padding: 0 5.5rem;
  }
}
@media screen and (min-width: 1150px) {
  .brand {
    padding: 0 7rem;
  }
}
@media screen and (min-width: 1250px) {
  .brand {
    padding: 0 7.5rem;
  }
}
.brand__gallery {
  position: relative;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.brand__gallery img {
  width: 50%;
}
.brand__photo {
  width: 100%;
  border-radius: 5px;
}
.brand h3 {
  font-family: "Special Elite", cursive;
  display: inline-block;
  margin-left: 40px;
  font-size: x-large;
}
.brand p {
  font-size: 1.1rem;
  text-align: left;
  padding: 20px 40px;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: hsla(152deg, 19%, 86%, 0.5);
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: -10;
}/*# sourceMappingURL=style.css.map */