.header {
  width: 100%;
  grid-row: 1/2;
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
  @media screen and (min-width: 700px) {
    grid-column: 1/-1;
  }
}
.logo {
  margin-bottom: 10px;
}
