<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item  {{ 'active' if page.fileSlug === 'omne' }}">
      <a class="menu__link" href="/omne/"> o mne </a>
    </li>
    <li class="menu__item  {{ 'active' if page.fileSlug === 'aktivity' }}">
      <a class="menu__link" href="/aktivity/"> aktivity </a>
    </li>
    <li class="menu__item {{ 'active' if page.fileSlug === 'kontakt' }}">
      <a class="menu__link" href="/kontakt/">kontakt</a>
    </li>
  </ul>
  <div class="menu__hamburger">
    <span class="menu__bar"></span>
    <span class="menu__bar"></span>
    <span class="menu__bar"></span>
  </div>
</nav>
