<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/4eb1136a11.js"
      crossorigin="anonymous"
    ></script>

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="layout">
      <header class="header">
        <a href="/">
          <div class="logo">
            <img src="/images/logo.png" alt="logo značky lesimore" />
          </div>
        </a>
        {% include 'partials/menu.njk' %}
      </header>
      <div class="hero">
        <img class="hero__photo" src="/images/2-3.png" alt="" />
      </div>
      <main class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <div class="footer__back-to-top">
          <a href="#"> <i class="fa fa-angle-up"></i></a>
        </div>
        <div class="footer__top">
          <div class="footer__social">
            <a href="https://www.facebook.com/les.i.more.upcycling">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/les.i.more/">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <h3 class="footer__title">"na parádu pre teba i pre planétu"</h3>
        </div>
        <div class="footer__bottom">
          <h4 class="footer__subtitle">
            © lesimore, <span class="year"></span> &nbsp;
          </h4>
          <a class="footer__link" href="mailto:tuodpovie.veronika@gmail.com"
            >tuodpovie.veronika@gmail.com</a
          >
        </div>
      </footer>
    </div>
    <script src="/src/script.js"></script>
    <script src="/src/animation.js"></script>
  </body>
</html>
